

#center-workshops {
	background: #FFF;
}

#intro123 h2 a {
	color:#FFF;
}

.contenthover a {
	color:#FFF;
	text-decoration: none;
}

#oneTwoThreeArticles li h2{
	margin:0 0 6px 0;
	color:#666666;
	font-weight:bold;
	font-size: 15pt;
	line-height: 24px
}

#oneTwoThreeArticles li p{
	margin:0 0 8px 0;
	color:#666666;
	font-size: 11pt;
}

#oneTwoThreeArticles li a{
	margin:0;
	text-decoration:underline;
	font-size: 11pt;
	color:#3aadd1;
}

#oneTwoThreeArticles li.first{
	list-style-image:url("../img/numbericon1.png")
}

#oneTwoThreeArticles li.second{
	list-style-image:url("../img/numbericon2.png")
}

#oneTwoThreeArticles li.third{
	list-style-image:url("../img/numbericon3.png")
}
#homeintro h1 {
	font-size: 32px;
	text-align: center;
	color: #000;
}
#herocontainer {
	float:right;
	width:30%;
	margin: 0;
}

#intro123 {
	list-style: none;
}

#intro123 li {
	width: 33%;
	float:left;
	height: 190px;
	position: relative;
}

#intro123 li h1 {
	width: 100%;
	text-align: center;
	font-size: 52px;
	color: #FFF;
	position: absolute;
	top: 20px;
}
#intro123 li h2 {
	width:100%;
	background: hsla(0,0%,0%,0.5);
	color: #FFF;
	position: absolute;
	bottom: 0px;
	text-align: center;
}

#intro123 #first {
	background: #990066;
}

#intro123 #second {
	background: #96D503;
}

#intro123 #third {
	background: #39C5EA;
}

#workshops {
	margin-top: 10px;
	background: #FFF;
}

#workshops h1 {
	margin-left: 8px;
	color: #666666;
}

#workshopNav {
	list-style: none;
	float: right;
	width:300px;
	height: 24px;
	background: #7C7C7C;
}

#workshopNav li {
	float:left;
	width: 33%;
	text-align: center;
	border-left: 1px solid #FFF;
}

#workshopNav a {
	color:#FFF;
	font-size: 20px;

	line-height: 24px;
}


.workshopcontainer {
	
}

.workshopcontainer h2 {
	display: block;
	padding: 8px;
	margin-left: 15px;
	background: #F9FCCE;
	border: 1px solid #D79DA2;
	color: #000;
	font-size: 22px;
}

.workshopList {
	list-style: none;
}

.workshopList li {
	display: block;
	clear: both;
	margin-top: 40px;
	overflow: auto;
}

#submaincontent .workshopTile {
	width:250px;
	float:left;
	padding-bottom: 12px;
	background: url(../img/workshop_bk.png) bottom left no-repeat;
}

#submaincontent .workshopTile img {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
    border-radius: 8px;
    margin: 5px 5px 2px 2px;
    padding:0;
    width: 90%;
}

.workshopInfo {
	float:left;
	width:400px;
}

.workshopInfo h2, .mentorInfo h2 {
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 0;
	padding-left: 0;
	padding-bottom: 0;
	background: none;
	border: none;
	font-size: 18px;
}

.workshopInfo h2 a {
	color: #9A1409;
}

.workshopCareer {
	width:100px;
	padding-top: 10px;
	padding-left: 10px;
	border: 1px solid #DEB1DC;
	overflow: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    border-radius: 5px;
}

.workshopCareer .careerArea {
	font-weight: bold;
	display: block;
}

.workshopBadge p {
	margin-top: 15px;
}

.workshopBadge a {
	font-size: 16px;
	line-height: 20px;
}

.badgeIconLink {
	display: block;
	float:left;
}

.workshopTile a {
	color: #D096C7;
}

.mentorInfo {
	float:left;
	width:80%;
	padding-top: 10px;
}

.mentorQuote {
	font-weight: bold;
}

.mentorDescription {
	padding-top: 10px;
}

.memberEmail {
	float: left;
	width:650px;
}

.memberEmail a {
	background: url("../img/member-email.png") no-repeat scroll left center transparent;
	padding-left: 25px;
}

#badges {
	margin-top: 10px;
	background: #FFF;
	padding-bottom: 10px;
	border-bottom: 1px solid #ececec;
}

#badges h1 {
	margin-left: 8px;
	color: #666666;
}

#latestWorkshops {
	list-style: none;
	position: relative;
	width: 100%;
}

#latestWorkshops li {
	float:left;
	width: 33%;
	min-width: 240px;
	height: 150px;
}

#latestWorkshops li h2 {
	font-size: 16px;
	line-height: 18px;
	margin-right: 8px;
	margin-top: 0px;
}

#latestWorkshops li p {
	font-size: 12px;
	margin-right: 8px;
	margin-top: 8px;
}

#latestWorkshops li .careerArea {
	font-weight: bold;
	display: block;
}

#latestWorkshops img {
	float:left;
	border: 1px solid #666666;
	padding: 8px;
	margin-right: 8px;
}

#adcontent-container {
	width:100%;
}

#badgesList {
	list-style: none;
	position: relative;
	width: 100%;
}

#badgesList li {
	float:left;
	width: 33%;
	min-width: 240px;
	height: 150px;
}

#badgesList li h2 {
	font-size: 16px;
	line-height: 18px;
	margin-right: 8px;
	margin-top: 0px;
}

#badgesList li p {
	font-size: 12px;
	margin-right: 8px;
	margin-top: 8px;
}

#badgesList li .careerArea {
	font-weight: bold;
	display: block;
}

#badgesList img {
	float:left;
	border: 1px solid #666666;
	padding: 8px;
	margin-right: 8px;
}

#submaincontent {
	padding: 20px;
	margin-top: 50px;
	background: #FFF;
	border: 1px solid #EEE;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	overflow: auto;
}

#submaincontent h1{
	color: #000;
}

#submaincontent p {
	font-size: 14px;
}

#submaincontent img {
	margin: 10px;
	border: 1px solid #000;
	padding: 5px;
}

#tutorialdescription {
	font-size: 14px;
}

footer {
	width: 100%;
	background: #666666;
	overflow: auto;
}

#footertagline {
	margin-bottom: 20px;
}

footer h2 {
	font-size: 16px;
	color:#FFF;
	line-height: 18px;
	margin-right: 8px;
	margin-top: 20px;
}

#footercontent {
	width: 73.333%;
	margin: 0 auto;
}

#footer_copyright {
	font-size: 12px;
	color: #FFF;
}

#footer_copyright img {
	margin-left: 10px;
}

#footer_sponsor {
	display: inline;
	margin-left: 30px;
	font-size: 12px;
	color: #FFF;
}

#footer_sponsor a {
	color: #FFF;
	text-decoration: underline;
}

#footercontent ul {
	list-style: none;
	margin-left: 0px;
	margin-bottom: 40px;
	overflow: auto;
}

#footercontent ul li {
	float: left;
	width: 33%;
}

#footercontent #footersocial {
	list-style: none;
	margin: 0;
}

#footercontent #footersocial li {
	float:left;
	width: auto;
}

#footercontent .footerlinklist {
	margin: 0;
}
#footercontent .footerlinklist li {
	float: none;
	margin-top: 5px;
	width:100%;
}

#footercontent li h1 {
	font-size: 20px;
	line-height: 22px;
	color:#FFF;
}

#footercontent .footerlinklist li a {
	font-size: 12px;
	line-height: 14px;
	color:#409bb8;
}


/* ##### Forms Style ###  */

.formsuccess {
	display:none;
}

.formerror {
	display:none;
}

.formerror {
    color: red;
    font-size: 1.2em;
    margin-bottom: 5px;
}
.requiredfield {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
}
.optionalfield {
}

.formbutton {
    background: none repeat scroll 0 0 #E8411C;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Dosis', arial, verdana, sans-serif
    font-size: 1.3rem;
    line-height: 1;
    margin: 0;
    outline: medium none;
    padding: 9px 34px 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

#contactform input {
	display:block;
}


/* ##### Forms Style End ###  */

#QuizDiv{display:none;padding:10px 10% ;border-top:2px solid gray;margin-bottom:10px;background-color:#ECECF0 }
.answers{list-style:none;margin-bottom:20px}

.button {
	display:block;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-weight:bold;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   width:200px;
   text-align:center;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }


#QuizDiv .button{
	margin-left:20px;
}

#toTop {
	width:100px;
    border:1px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:5px;
    position:fixed; /* this is the magic */
    bottom:10px; /* together with this to put the div at the bottom*/
    right:10px;
    cursor:pointer;
    display:none;
    color:#333;
    font-family:verdana;
    font-size:11px;
}

#arrow {
	background: url(../img/arrow_bk.png);
	width:100px;
	height: 25px; 
}


