
#center-workshops {
	background: #FFF;
}

#oneTwoThreeArticles li h2{
	margin:0 0 6px 0;
	color:#666666;
	font-weight:bold;
	font-size: 15pt;
	line-height: 24px
}

#oneTwoThreeArticles li p{
	margin:0 0 8px 0;
	color:#666666;
	font-size: 11pt;
}

#oneTwoThreeArticles li a{
	margin:0;
	text-decoration:underline;
	font-size: 11pt;
	color:#3aadd1;
}

#oneTwoThreeArticles li.first{
	list-style-image:url("../img/numbericon1.png")
}

#oneTwoThreeArticles li.second{
	list-style-image:url("../img/numbericon2.png")
}

#oneTwoThreeArticles li.third{
	list-style-image:url("../img/numbericon3.png")
}
#homeintro h1 {
	font-size: 32px;
	text-align: center;
	color: #000;
}
#herocontainer {
	float:right;
	width:30%;
	margin: 0;
}

#intro123 {
	list-style: none;
}

#intro123 li {
	width: 33%;
	float:left;
	height: 190px;
	position: relative;
}

#intro123 li h1 {
	width: 100%;
	text-align: center;
	font-size: 52px;
	color: #FFF;
	position: absolute;
	top: 20px;
}
#intro123 li h2 {
	width:100%;
	background: hsla(0,0%,0%,0.5);
	color: #FFF;
	position: absolute;
	bottom: 0px;
	text-align: center;
}

#intro123 #first {
	background: #990066;
}

#intro123 #second {
	background: #96D503;
}

#intro123 #third {
	background: #39C5EA;
}

#workshops {
	margin-top: 10px;
	background: #FFF;
}

#workshops h1 {
	margin-left: 8px;
	color: #666666;
}

#latestWorkshops {
	list-style: none;
	position: relative;
	width: 100%;
}

#latestWorkshops li {
	float:left;
	width: 33%;
	height: 150px;
}

#latestWorkshops li h2 {
	font-size: 16px;
	line-height: 18px;
	margin-right: 8px;
	margin-top: 0px;
}

#latestWorkshops li p {
	font-size: 12px;
	margin-right: 8px;
	margin-top: 8px;
}

#latestWorkshops li .careerArea {
	font-weight: bold;
	display: block;
}

#latestWorkshops img {
	float:left;
	border: 1px solid #666666;
	padding: 8px;
	margin-right: 8px;
}





