


body {
	/*background: #F1F1F1 url(../img/background.jpg) no-repeat top left;*/
	background: #F1F1F1  url(../img/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}

h1, .h1 { margin-top: .5em; margin-bottom: 0.5em; color: #469b15; font-size: 24px; text-transform:capitalize;}
h2, .h2 {margin-top: 1em; color: #469b15; font-size: 18px; text-transform:capitalize; text-decoration:none;}
h3, .h3, h3 a {color: #0d5db5; font-size: 15px; text-transform:capitalize; text-decoration:none;}
h4, .h4 {color: #2E5A10; font-size: 11px; text-transform:capitalize; text-decoration:none;}
h5, .h5 {}
h6, .h6 {}

h1, h2, h3, h4 {
	font-family: 'Dosis', arial, verdana, sans-serif;
	font-weight: normal;
}



header {
	background-image: linear-gradient(top, rgb(245,250,249) 38%, rgb(125,123,125) 69%, rgb(99,99,99) 85%, rgb(212,195,212) 93%);
	background-image: -o-linear-gradient(top, rgb(245,250,249) 38%, rgb(125,123,125) 69%, rgb(99,99,99) 85%, rgb(212,195,212) 93%);
	background-image: -moz-linear-gradient(top, rgb(245,250,249) 38%, rgb(125,123,125) 69%, rgb(99,99,99) 85%, rgb(212,195,212) 93%);
	background-image: -webkit-linear-gradient(top, rgb(245,250,249) 38%, rgb(125,123,125) 69%, rgb(99,99,99) 85%, rgb(212,195,212) 93%);
	background-image: -ms-linear-gradient(top, rgb(245,250,249) 38%, rgb(125,123,125) 69%, rgb(99,99,99) 85%, rgb(212,195,212) 93%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.38, rgb(245,250,249)),
		color-stop(0.69, rgb(125,123,125)),
		color-stop(0.85, rgb(99,99,99)),
		color-stop(0.93, rgb(212,195,212))
	);
}

nav {
	width:73.333%;
	margin: 0 auto;
}

#headerlogonav {
	width: 30%;
	float:left;
}

#secondaryNav {
	margin-top: 20px;
	width:300px;
	float: right;
	list-style: none;
}

#secondaryNav li {
	float:left;
	margin-left: 8px;
}

#secondaryNav a {
	color: #999999;
	font-size: 12px;
}


#primaryNav {
	width: 300px;
	float: right;
	list-style: none;
}

#primaryNav li {
	float:left;
	margin-left: 25px;
	font-size: 16px;
}
#primaryNav a {
	color: #FFF;
	font-size: 16px;
}
