

body {

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; 
padding-left: 0px;

}

.pagecontent {

	margin-top: 100px;
}
#primaryNav { display: none; }

#secondaryNav{display: none;}

/* =MOBILE NAV
-------------------------------------*/

#mobileNavWrap {
	position: absolute;
	right:0px;
}

/* menu icon */
#menu-icon {
	color: #FFF;
	width: 60px;
	height: 30px;
	background: #E6421D url(images/menu-icon.png) no-repeat 10px center;
	padding: 8px 10px 0 70px;
	font-size: 16px;
	cursor: pointer;
	border: solid 1px #666;
	display: block; /* show menu icon */
}
#menu-icon:hover {
	background-color: #AF9EA6;
}
#menu-icon.active {
	background-color: #AF9EA6;
}

/* main nav */
#mobileNavContainer {
	clear: both;
	position: absolute;
	right: 0px;
	top: 38px;
	width: 300px;
	height: 400px;
	z-index: 10000;
	padding: 5px;
	background: #F4E39C;
	border: solid 1px #999;
	display: none; /* visibility will be toggled with jquery */
}

#mobilePrimaryNav {
	list-style: none;
	width: 55%;
	margin: 5px 10px 5px 5px;
	background-color: #990066;
	float: left;
}

#mobilePrimaryNav li {
	clear: both;
	float: none;
	height: 30px;
	margin: 10px 0 10px 5px;
	border-bottom: 1px solid #7F816A;
}

#mobilePrimaryNav li ul {
	margin-top: 10px;
}

#mobilePrimaryNav a, 
#mobilePrimaryNav ul a {
	font-size: 12px;
	background: none;
	display: inline;
	padding: 0;
	color: #FFF;
	border: none;
}
#mobilePrimaryNav a:hover, 
#mobilePrimaryNav ul a:hover {
	background: none;
	color: #000;
}

#mobilePrimaryNav ul li {
	margin: 3px 0 3px 15px;
}

#mobileSecondaryNav {
	list-style: none;
	background-color: none;
	margin: 5px;
	width: 35%;
	float: right;
}

#mobileSecondaryNav li {
	clear: both;
	float: none;
	height: 30px;
	margin: 10px 0 10px 10px;
}
#mobileSecondaryNav a, 
#mobileSecondaryNav ul a {
	font-size: 12px;
	background: none;
	display: inline;
	padding: 0;
	color: #000;
	border: none;
}
#mobileSecondaryNav a:hover, 
#mobileSecondaryNav ul a:hover {
	background: none;
	color: #000;
}

#mobileSecondaryNav ul li {
	margin: 3px 0 3px 15px;
}


#headerlogonav {
width: 259px;
z-index: 2;
position: absolute;
left: -18px;
}

#oneTwoThreeArticles{
display:none; 
}

#homeintro_steps{
width:50%;
float:left;
}

#herocontainer{
width:50%;
float:left;
}

#herocontainer img{
width:75%;
}

#intro123 li{
width: 100%;
float:none;
height: 50px;
}


#intro123 li h1 {
width: 10px;
text-align: center;
font-size: 20px;
color: #FFF;
position: absolute;
bottom: 2px;
left:10px;
margin:0;
padding:0;
line-height:20px;
}
#intro123 li h2 {
background:none;
}

#latestWorkshops li {
float:left;
width: 100%;
height: 150px;
}

#adcontent {
display: none;
}

#footercontent ul li {
float: none;
width: 100%;
}

#footer_copyright img {
margin-left: 2px;
}

#footer_sponsor {
display: block;
margin: 10px 0px;
}

#workshopCarousel {
display: block;
}

#workshopCarousel div.item {
position: relative;
text-align: center;
margin: 0 auto;
}

#workshopCarousel div.item img {
margin: 0 auto;
}

#workshops {
display: none;
}

.contenthover {
display:none;
}

